In [15]:
import pandas as pd

In [30]:
cars_csv = "cars_database.csv"

In [31]:
cars_data_df = pd.read_csv(cars_csv)
cars_data_df.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265,17,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200,24,31,2778,101,172
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200,22,29,3230,105,183
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270,20,28,3575,108,186
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225,18,24,3880,115,197

TypeError: 'method' object is not subscriptable

In [33]:
json_file = "car_database.json"
customer_location_df = pd.read_json(json_file, lines=True)
customer_location_df.head()

,_id,Brand,Model,Generation,Modification (Engine),Doors,Power,Maximum speed,Acceleration 0 - 100 km/h,Year of putting into production,...,"Fuel consumption (economy), extra urban - CNG","Fuel consumption (economy), combined - CNG",CNG CO2 emissions,AdBlue tank,Ramp angle,Climb angle,Acceleration 0 - 200 km/h,Average Energy consumption,Acceleration 0 - 300 km/h,200 km/h - 0
0,{'$oid': '5ac440ae603afc1b88c4f83c'},Abarth,124 Spider,124 Spider,1.4 MultiAir (170 Hp) Automatic,2,170 hp/5500 rpm.,229 km/h,6.9 sec,2016 year,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,{'$oid': '5ac440ae603afc1b88c4f83d'},Abarth,124 Spider,124 Spider,1.4 MultiAir (170 Hp),2,170 hp/5500 rpm.,232 km/h,6.8 sec,2016 year,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,{'$oid': '5ac440af603afc1b88c4f83e'},Abarth,595,595C,Turismo 1.4 T-Jet (165 Hp) Automatic,3,165 hp/5000 rpm.,218 km/h,7.4 sec,2016 year,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,{'$oid': '5ac440b0603afc1b88c4f83f'},Abarth,595,595C,Turismo 1.4 T-Jet (165 Hp),3,165 hp/5000 rpm.,218 km/h,7.3 sec,2016 year,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,{'$oid': '5ac440b0603afc1b88c4f840'},Abarth,595,595C,Competizione 1.4 T-Jet (180 Hp) Automatic,3,180 hp/5000 rpm.,225 km/h,6.9 sec,2016 year,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN