In [1]:
import pandas as pd

In [2]:
cars_csv = "cars_database.csv"

In [12]:
cars_data_df = pd.read_csv(cars_csv)
cars_data_df

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265,17,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200,24,31,2778,101,172
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200,22,29,3230,105,183
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270,20,28,3575,108,186
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225,18,24,3880,115,197
5,Acura,3.5 RL w/Navigation 4dr,Sedan,Asia,Front,"$46,100","$41,100",3.5,6.0,225,18,24,3893,115,197
6,Acura,NSX coupe 2dr manual S,Sports,Asia,Rear,"$89,765","$79,978",3.2,6.0,290,17,24,3153,100,174
7,Audi,A4 1.8T 4dr,Sedan,Europe,Front,"$25,940","$23,508",1.8,4.0,170,22,31,3252,104,179
8,Audi,A41.8T convertible 2dr,Sedan,Europe,Front,"$35,940","$32,506",1.8,4.0,170,23,30,3638,105,180
9,Audi,A4 3.0 4dr,Sedan,Europe,Front,"$31,840","$28,846",3.0,6.0,220,20,28,3462,104,179
10,Audi,A4 3.0 Quattro 4dr manual,Sedan,Europe,All,"$33,430","$30,366",3.0,6.0,220,17,26,3583,104,179
11,Audi,A4 3.0 Quattro 4dr auto,Sedan,Europe,All,"$34,480","$31,388",3.0,6.0,220,18,25,3627,104,179
12,Audi,A6 3.0 4dr,Sedan,Europe,Front,"$36,640","$33,129",3.0,6.0,220,20,27,3561,109,192
13,Audi,A6 3.0 Quattro 4dr,Sedan,Europe,All,"$39,640","$35,992",3.0,6.0,220,18,25,3880,109,192
14,Audi,A4 3.0 convertible 2dr,Sedan,Europe,Front,"$42,490","$38,325",3.0,6.0,220,20,27,3814,105,180
15,Audi,A4 3.0 Quattro convertible 2dr,Sedan,Europe,All,"$44,240","$40,075",3.0,6.0,220,18,25,4013,105,180
16,Audi,A6 2.7 Turbo Quattro 4dr,Sedan,Europe,All,"$42,840","$38,840",2.7,6.0,250,18,25,3836,109,192
17,Audi,A6 4.2 Quattro 4dr,Sedan,Europe,All,"$49,690","$44,936",4.2,8.0,300,17,24,4024,109,193
18,Audi,A8 L Quattro 4dr,Sedan,Europe,All,"$69,190","$64,740",4.2,8.0,330,17,24,4399,121,204
19,Audi,S4 Quattro 4dr,Sedan,Europe,All,"$48,040","$43,556",4.2,8.0,340,14,20,3825,104,179
20,Audi,RS 6 4dr,Sports,Europe,Front,"$84,600","$76,417",4.2,8.0,450,15,22,4024,109,191
21,Audi,TT 1.8 convertible 2dr (coupe),Sports,Europe,Front,"$35,940","$32,512",1.8,4.0,180,20,28,3131,95,159
22,Audi,TT 1.8 Quattro 2dr (convertible),Sports,Europe,All,"$37,390","$33,891",1.8,4.0,225,20,28,2921,96,159
23,Audi,TT 3.2 coupe 2dr (convertible),Sports,Europe,All,"$40,590","$36,739",3.2,6.0,250,21,29,3351,96,159
24,Audi,A6 3.0 Avant Quattro,Wagon,Europe,All,"$40,840","$37,060",3.0,6.0,220,18,25,4035,109,192
25,Audi,S4 Avant Quattro,Wagon,Europe,All,"$49,090","$44,446",4.2,8.0,340,15,21,3936,104,179
26,BMW,X3 3.0i,SUV,Europe,All,"$37,000","$33,873",3.0,6.0,225,16,23,4023,110,180
27,BMW,X5 4.4i,SUV,Europe,All,"$52,195","$47,720",4.4,8.0,325,16,22,4824,111,184
28,BMW,325i 4dr,Sedan,Europe,Rear,"$28,495","$26,155",2.5,6.0,184,20,29,3219,107,176
29,BMW,325Ci 2dr,Sedan,Europe,Rear,"$30,795","$28,245",2.5,6.0,184,20,29,3197,107,177
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
398,Toyota,Tundra Regular Cab V6,Truck,Asia,Rear,"$16,495","$14,978",3.4,6.0,190,16,18,3925,128,218
399,Toyota,Tundra Access Cab V6 SR5,Truck,Asia,All,"$25,935","$23,520",3.4,6.0,190,14,17,4435,128,218
400,Toyota,Matrix XR,Wagon,Asia,Front,"$16,695","$15,156",1.8,4.0,130,29,36,2679,102,171
401,Volkswagen,Touareg V6,SUV,Europe,All,"$35,515","$32,243",3.2,6.0,220,15,20,5086,112,187
402,Volkswagen,Golf GLS 4dr,Sedan,Europe,Front,"$18,715","$17,478",2.0,4.0,115,24,31,2897,99,165
403,Volkswagen,GTI 1.8T 2dr hatch,Sedan,Europe,Front,"$19,825","$18,109",1.8,4.0,180,24,31,2934,99,168
404,Volkswagen,Jetta GLS TDI 4dr,Sedan,Europe,Front,"$21,055","$19,638",1.9,4.0,100,38,46,3003,99,172
405,Volkswagen,New Beetle GLS 1.8T 2dr,Sedan,Europe,Front,"$21,055","$19,638",1.8,4.0,150,24,31,2820,99,161
406,Volkswagen,Jetta GLI VR6 4dr,Sedan,Europe,Front,"$23,785","$21,686",2.8,6.0,200,21,30,3179,99,172
407,Volkswagen,New Beetle GLS convertible 2dr,Sedan,Europe,Front,"$23,215","$21,689",2.0,4.0,115,24,30,3082,99,161
408,Volkswagen,Passat GLS 4dr,Sedan,Europe,Front,"$23,955","$21,898",1.8,4.0,170,22,31,3241,106,185
409,Volkswagen,Passat GLX V6 4MOTION 4dr,Sedan,Europe,Front,"$33,180","$30,583",2.8,6.0,190,19,26,3721,106,185
410,Volkswagen,Passat W8 4MOTION 4dr,Sedan,Europe,Front,"$39,235","$36,052",4.0,8.0,270,18,25,3953,106,185
411,Volkswagen,Phaeton 4dr,Sedan,Europe,Front,"$65,000","$59,912",4.2,8.0,335,16,22,5194,118,204
412,Volkswagen,Phaeton W12 4dr,Sedan,Europe,Front,"$75,000","$69,130",6.0,12.0,420,12,19,5399,118,204
413,Volkswagen,Jetta GL,Wagon,Europe,Front,"$19,005","$17,427",2.0,4.0,115,24,30,3034,99,174
414,Volkswagen,Passat GLS 1.8T,Wagon,Europe,Front,"$24,955","$22,801",1.8,4.0,170,22,31,3338,106,184
415,Volkswagen,Passat W8,Wagon,Europe,Front,"$40,235","$36,956",4.0,8.0,270,18,25,4067,106,184
416,Volvo,XC90 T6,SUV,Europe,All,"$41,250","$38,851",2.9,6.0,268,15,20,4638,113,189
417,Volvo,S40 4dr,Sedan,Europe,Front,"$25,135","$23,701",1.9,4.0,170,22,29,2767,101,178
418,Volvo,S60 2.5 4dr,Sedan,Europe,All,"$31,745","$29,916",2.5,5.0,208,20,27,3903,107,180
419,Volvo,S60 T5 4dr,Sedan,Europe,Front,"$34,845","$32,902",2.3,5.0,247,20,28,3766,107,180
420,Volvo,S60 R 4dr,Sedan,Europe,All,"$37,560","$35,382",2.5,5.0,300,18,25,3571,107,181
421,Volvo,S80 2.9 4dr,Sedan,Europe,Front,"$37,730","$35,542",2.9,6.0,208,20,28,3576,110,190
422,Volvo,S80 2.5T 4dr,Sedan,Europe,All,"$37,885","$35,688",2.5,5.0,194,20,27,3691,110,190
423,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,"$40,565","$38,203",2.4,5.0,197,21,28,3450,105,186
424,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,"$42,565","$40,083",2.3,5.0,242,20,26,3450,105,186
425,Volvo,S80 T6 4dr,Sedan,Europe,Front,"$45,210","$42,573",2.9,6.0,268,19,26,3653,110,190
426,Volvo,V40,Wagon,Europe,Front,"$26,135","$24,641",1.9,4.0,170,22,29,2822,101,180
427,Volvo,XC70,Wagon,Europe,All,"$35,145","$33,112",2.5,5.0,208,20,27,3823,109,186

In [11]:
#check unique value of make to compare with the other json file. 


make = cars_data_df['Make']
make.value_counts()

Toyota           28
Chevrolet        27
Mercedes-Benz    26
Ford             23
BMW              20
Audi             19
Nissan           17
Honda            17
Volkswagen       15
Chrysler         15
Mitsubishi       13
Dodge            13
Hyundai          12
Jaguar           12
Volvo            12
Lexus            11
Subaru           11
Mazda            11
Pontiac          11
Kia              11
Mercury           9
Buick             9
Lincoln           9
Saturn            8
GMC               8
Suzuki            8
Infiniti          8
Cadillac          8
Acura             7
Porsche           7
Saab              7
Oldsmobile        3
Land Rover        3
Jeep              3
Scion             2
Isuzu             2
MINI              2
Hummer            1
Name: Make, dtype: int64

In [19]:
#choose columns of interest, Use make and model as the primary key. 

new_car_data = cars_data_df[['Make','Model','Origin','MSRP','Weight','MPG_Highway' ]]
new_car_data.head()

    Make           Model Origin     MSRP  Weight  MPG_Highway
0  Acura             MDX   Asia  $36,945    4451           23
1  Acura  RSX Type S 2dr   Asia  $23,820    2778           31
2  Acura         TSX 4dr   Asia  $26,990    3230           29
3  Acura          TL 4dr   Asia  $33,195    3575           28
4  Acura      3.5 RL 4dr   Asia  $43,755    3880           24

In [25]:
#Modify model, try to get only the model name. 

model = new_car_data["Model"]

modified_model=[]


split = model.str.split()


for name in split:
    print(split[0])

['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']
['MDX']

In [14]:
json_file = "car_database.json"
customer_location_df = pd.read_json(json_file, lines=True)
customer_location_df

,100 km/h - 0,200 km/h - 0,ABS,Acceleration 0 - 100 km/h,Acceleration 0 - 200 km/h,Acceleration 0 - 300 km/h,AdBlue tank,All-electric range,Approach angle,Average Energy consumption,...,Valvetrain,Wading depth,Wheel rims size,Wheelbase,Width,Width including mirrors,Width with mirrors folded,Year of putting into production,Year of stopping production,_id
0,NaN,NaN,yes,6.9 sec,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2310 mm.,1740 mm.,NaN,NaN,2016 year,NaN,{'$oid': '5ac440ae603afc1b88c4f83c'}
1,NaN,NaN,yes,6.8 sec,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2310 mm.,1740 mm.,NaN,NaN,2016 year,NaN,{'$oid': '5ac440ae603afc1b88c4f83d'}
2,NaN,NaN,yes,7.4 sec,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,R17,2300 mm.,1627 mm.,1893 mm.,NaN,2016 year,NaN,{'$oid': '5ac440af603afc1b88c4f83e'}
3,NaN,NaN,yes,7.3 sec,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,R17,2300 mm.,1627 mm.,1893 mm.,NaN,2016 year,NaN,{'$oid': '5ac440b0603afc1b88c4f83f'}
4,NaN,NaN,yes,6.9 sec,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,R17,2300 mm.,1627 mm.,1893 mm.,NaN,2016 year,NaN,{'$oid': '5ac440b0603afc1b88c4f840'}
5,NaN,NaN,yes,6.7 sec,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,R17,2300 mm.,1627 mm.,1893 mm.,NaN,2016 year,NaN,{'$oid': '5ac440b1603afc1b88c4f841'}
6,NaN,NaN,yes,8 sec,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,R16,2300 mm.,1627 mm.,1893 mm.,NaN,2016 year,NaN,{'$oid': '5ac440b1603afc1b88c4f842'}
7,NaN,NaN,yes,7.8 sec,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,R16,2300 mm.,1627 mm.,1893 mm.,NaN,2016 year,NaN,{'$oid': '5ac440b2603afc1b88c4f843'}
8,NaN,NaN,yes,7.4 sec,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,R17,2300 mm.,1627 mm.,1893 mm.,NaN,2016 year,NaN,{'$oid': '5ac440b2603afc1b88c4f844'}
9,NaN,NaN,yes,7.3 sec,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,R17,2300 mm.,1627 mm.,1893 mm.,NaN,2016 year,NaN,{'$oid': '5ac440b3603afc1b88c4f845'}
10,NaN,NaN,yes,6.9 sec,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,R17,2300 mm.,1627 mm.,1893 mm.,NaN,2016 year,NaN,{'$oid': '5ac440b4603afc1b88c4f846'}
11,NaN,NaN,yes,6.7 sec,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,R17,2300 mm.,1627 mm.,1893 mm.,NaN,2016 year,NaN,{'$oid': '5ac440b4603afc1b88c4f847'}
12,NaN,NaN,yes,8 sec,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,R16,2300 mm.,1627 mm.,1893 mm.,NaN,2016 year,NaN,{'$oid': '5ac440b5603afc1b88c4f848'}
13,NaN,NaN,yes,7.8 sec,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,R16,2300 mm.,1627 mm.,1893 mm.,NaN,2016 year,NaN,{'$oid': '5ac440b6603afc1b88c4f849'}
14,NaN,NaN,yes,6.9 sec,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2310 mm.,1740 mm.,NaN,NaN,2016 year,NaN,{'$oid': '5ac441bb603afc2b401905b2'}
15,NaN,NaN,yes,6.8 sec,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2310 mm.,1740 mm.,NaN,NaN,2016 year,NaN,{'$oid': '5ac441bc603afc2b401905b3'}
16,NaN,NaN,yes,7.4 sec,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,R17,2300 mm.,1627 mm.,1893 mm.,NaN,2016 year,NaN,{'$oid': '5ac441bd603afc2b401905b4'}
17,NaN,NaN,yes,7.3 sec,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,R17,2300 mm.,1627 mm.,1893 mm.,NaN,2016 year,NaN,{'$oid': '5ac441c2603afc2b401905b5'}
18,NaN,NaN,yes,6.9 sec,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,R17,2300 mm.,1627 mm.,1893 mm.,NaN,2016 year,NaN,{'$oid': '5ac441c3603afc2b401905b6'}
19,NaN,NaN,yes,6.7 sec,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,R17,2300 mm.,1627 mm.,1893 mm.,NaN,2016 year,NaN,{'$oid': '5ac441c3603afc2b401905b7'}
20,NaN,NaN,yes,8 sec,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,R16,2300 mm.,1627 mm.,1893 mm.,NaN,2016 year,NaN,{'$oid': '5ac441c5603afc2b401905b8'}
21,NaN,NaN,yes,7.8 sec,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,R16,2300 mm.,1627 mm.,1893 mm.,NaN,2016 year,NaN,{'$oid': '5ac441c5603afc2b401905b9'}
22,NaN,NaN,yes,7.4 sec,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,R17,2300 mm.,1627 mm.,1893 mm.,NaN,2016 year,NaN,{'$oid': '5ac441c6603afc2b401905ba'}
23,NaN,NaN,yes,7.3 sec,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,R17,2300 mm.,1627 mm.,1893 mm.,NaN,2016 year,NaN,{'$oid': '5ac441c6603afc2b401905bb'}
24,NaN,NaN,yes,6.9 sec,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,R17,2300 mm.,1627 mm.,1893 mm.,NaN,2016 year,NaN,{'$oid': '5ac441c7603afc2b401905bc'}
25,NaN,NaN,yes,6.7 sec,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,R17,2300 mm.,1627 mm.,1893 mm.,NaN,2016 year,NaN,{'$oid': '5ac441c8603afc2b401905bd'}
26,NaN,NaN,yes,8 sec,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,R16,2300 mm.,1627 mm.,1893 mm.,NaN,2016 year,NaN,{'$oid': '5ac441c8603afc2b401905be'}
27,NaN,NaN,yes,7.8 sec,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,R16,2300 mm.,1627 mm.,1893 mm.,NaN,2016 year,NaN,{'$oid': '5ac441c9603afc2b401905bf'}
28,NaN,NaN,yes,6.9 sec,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2310 mm.,1740 mm.,NaN,NaN,2016 year,NaN,{'$oid': '5ac44231603afc2b401905c2'}
29,NaN,NaN,yes,6.8 sec,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2310 mm.,1740 mm.,NaN,NaN,2016 year,NaN,{'$oid': '5ac4424e603afc2b401905c3'}
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32818,NaN,NaN,yes,17 sec,NaN,NaN,NaN,NaN,NaN,NaN,...,-,NaN,NaN,2320 mm.,1564 mm.,NaN,NaN,2001 year,NaN,{'$oid': '5ac495e9603afc2b401985de'}
32819,NaN,NaN,yes,17.4 sec,NaN,NaN,NaN,NaN,NaN,NaN,...,-,NaN,NaN,2320 mm.,1564 mm.,NaN,NaN,2001 year,NaN,{'$oid': '5ac495e9603afc2b401985df'}
32820,NaN,NaN,yes,17 sec,NaN,NaN,NaN,NaN,NaN,NaN,...,OHC,NaN,NaN,2320 mm.,1676 mm.,NaN,NaN,2001 year,NaN,{'$oid': '5ac495ea603afc2b401985e0'}
32821,NaN,NaN,NaN,19.5 sec,NaN,NaN,NaN,NaN,NaN,NaN,...,OHC,NaN,NaN,2320 mm.,1554 mm.,NaN,NaN,1993 year,NaN,{'$oid': '5ac495eb603afc2b401985e1'}
32822,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,OHC,NaN,NaN,2320 mm.,1554 mm.,NaN,NaN,1989 year,NaN,{'$oid': '5ac495eb603afc2b401985e2'}
32823,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,OHC,NaN,NaN,2320 mm.,1554 mm.,NaN,NaN,1989 year,NaN,{'$oid': '5ac495ec603afc2b401985e3'}
32824,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-,NaN,NaN,2023 mm.,1395 mm.,NaN,NaN,1963 year,1970 year,{'$oid': '5ac495ed603afc2b401985e4'}
32825,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-,NaN,NaN,2023 mm.,1395 mm.,NaN,NaN,1960 year,1963 year,{'$oid': '5ac495ee603afc2b401985e5'}
32826,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-,NaN,NaN,2160 mm.,1570 mm.,NaN,NaN,1967 year,1972 year,{'$oid': '5ac495ef603afc2b401985e6'}
32827,NaN,NaN,NaN,32 sec,NaN,NaN,NaN,NaN,NaN,NaN,...,-,NaN,4J x 13,2160 mm.,1490 mm.,NaN,NaN,1979 year,1994 year,{'$oid': '5ac495f0603afc2b401985e7'}
32828,NaN,NaN,NaN,38 sec,NaN,NaN,NaN,NaN,NaN,NaN,...,-,NaN,NaN,2160 mm.,1570 mm.,NaN,NaN,1972 year,1979 year,{'$oid': '5ac495f1603afc2b401985e8'}
32829,NaN,NaN,NaN,12.5 sec,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2520 mm.,1679 mm.,NaN,NaN,2009 year,NaN,{'$oid': '5ac495f2603afc2b401985e9'}
32830,NaN,NaN,NaN,12.5 sec,NaN,NaN,NaN,NaN,NaN,NaN,...,-,NaN,NaN,2520 mm.,1679 mm.,NaN,NaN,2009 year,NaN,{'$oid': '5ac495f2603afc2b401985ea'}
32831,NaN,NaN,NaN,17 sec,NaN,NaN,NaN,NaN,NaN,NaN,...,-,NaN,NaN,2520 mm.,1678 mm.,NaN,NaN,2009 year,NaN,{'$oid': '5ac495f3603afc2b401985eb'}
32832,NaN,NaN,NaN,18.4 sec,NaN,NaN,NaN,NaN,NaN,NaN,...,-,NaN,NaN,2520 mm.,1678 mm.,NaN,NaN,2002 year,NaN,{'$oid': '5ac495f3603afc2b401985ec'}
32833,NaN,NaN,NaN,17 sec,NaN,NaN,NaN,NaN,NaN,NaN,...,-,NaN,NaN,2520 mm.,1678 mm.,NaN,NaN,2002 year,NaN,{'$oid': '5ac495f4603afc2b401985ed'}
32834,NaN,NaN,yes,3.0 sec,8.9 sec,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,R19; R20,3055 mm.,2041 mm.,NaN,NaN,2009 year,2016 year,{'$oid': '5ac495f5603afc2b401985ee'}
32835,NaN,NaN,yes,2.8 sec,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,9.5J x 19; 12.5J x 20,2906 mm.,2155 mm.,NaN,NaN,2017 year,NaN,{'$oid': '5ac495f6603afc2b401985ef'}
32836,NaN,NaN,yes,2.8 sec,6.8 sec,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8.5JÃƒâ€”20; 12.5J Ãƒâ€”21,2906 mm.,2038 mm.,NaN,NaN,2018 year,NaN,{'$oid': '5ac495f7603afc2b401985f0'}
32837,NaN,NaN,yes,13.5 sec,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3880 mm.,2068 mm.,NaN,NaN,1967 year,1985 year,{'$oid': '5ac495f8603afc2b401985f1'}
32838,NaN,NaN,yes,13 sec,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3300 mm.,2068 mm.,NaN,NaN,1971 year,1985 year,{'$oid': '5ac495fa603afc2b401985f2'}
32839,NaN,NaN,NaN,13 sec,NaN,NaN,NaN,NaN,NaN,NaN,...,-,NaN,7J x 16,3880 mm.,2086 mm.,NaN,NaN,1985 year,NaN,{'$oid': '5ac495fb603afc2b401985f3'}
32840,NaN,NaN,yes,12 sec,NaN,NaN,NaN,NaN,NaN,NaN,...,OHC,NaN,NaN,3880 mm.,2089 mm.,NaN,NaN,1985 year,NaN,{'$oid': '5ac495fc603afc2b401985f4'}
32841,NaN,NaN,yes,12 sec,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3300 mm.,2085 mm.,NaN,NaN,1985 year,NaN,{'$oid': '5ac495fc603afc2b401985f5'}
32842,NaN,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DOHC,NaN,NaN,2850 mm.,1750 mm.,NaN,NaN,2007 year,NaN,{'$oid': '5ac495fd603afc2b401985f6'}
32843,NaN,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DOHC,NaN,NaN,2850 mm.,1750 mm.,NaN,NaN,2007 year,NaN,{'$oid': '5ac495fe603afc2b401985f7'}
32844,NaN,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DOHC,NaN,NaN,2850 mm.,1750 mm.,NaN,NaN,2007 year,NaN,{'$oid': '5ac495fe603afc2b401985f8'}
32845,NaN,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DOHC,NaN,16x7J,2850 mm.,1760 mm.,NaN,NaN,2007 year,NaN,{'$oid': '5ac495ff603afc2b401985f9'}
32846,NaN,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DOHC,NaN,16x7J,2850 mm.,1750 mm.,NaN,NaN,2007 year,NaN,{'$oid': '5ac49600603afc2b401985fa'}
32847,NaN,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DOHC,NaN,16x7J,2850 mm.,1750 mm.,NaN,NaN,2007 year,NaN,{'$oid': '5ac49600603afc2b401985fb'}